@media screen and (min-width: 1024px) and (max-width: 1440px) {
    /* Laptop Responsivenss */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        background-color: #121212;
        color: #f01613;
    }
    
    header {
        height: 8rem;
        text-align: center;
        line-height: 8rem;
        font-size: 2rem;
        font-family: "Princess Sofia", serif;
    }
    
    main {
        max-height: 100%;
    }
    
    .container {
        height: 100%;
        display: flex;
        justify-content: center;
    }
    
    .main-box {
        border-radius: 20px;
        width: 50rem;
        height: 30rem;
        border: 1px solid #8b8b8b;
        padding: 1.5rem 3rem;
        overflow-x: hidden;
    }
    
    .all-items li{
        width: 100%;
        padding: 0.5rem 0;
        font-size: 1.8rem;
        word-spacing: 0.2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    num {
        color: #ff9378;
        font-size: 1.4rem;
        align-self: last baseline;
    }
    .item-text {
        display: flex;
        /* text-overflow: ellipsis; */
        width: 40rem;
        white-space: normal;
    }
    .item-text p {
        margin-left: 1.5rem;
        color: #fff;
        transition: transform 0.2s ease-in-out;
        font-family: "Original Surfer", serif;
        /* text-overflow: ellipsis; */
        /* overflow: visible; */
        /* white-space: inherit; */
    }
    .item-text p:hover {
        text-decoration: underline;
        transform: scale(1.03);
    }
    #item-check {
        width: 2rem;
        height: 2rem;
        cursor: pointer;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .next-item {
        justify-self: center;
        margin: 1rem 0;
        border: 1px solid white;
        border-radius: 40px;
    }
    .next-item button {
        font-size: 1.6rem;
        padding: 0.5rem 1.2rem;
        background: none;
        border: none;
        color: #f01613;
        cursor: pointer;
    }
    
    section[class*="search"] {
        position: absolute;
        top: 2rem;
        right: 1rem;
    }
    .search-input {
        height: 2.5rem;
        font-size: 1.1rem;
        outline: none;
        padding: 0 1rem;
        width: 15rem;
        border-radius: 10px;
        font-family: "Roboto", serif;
        background-color: #ffffff36;
        color: #d2d2d2;
    }
    
    section[class*="add"] {
        position: absolute;
        top: 40%;
        left: 38%;
        display: none;
    }
    .add-task-box {
        height: 10rem;
        width: 20rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        font-family: "Roboto", serif;
        background: #ffffff13;
        border-radius: 5px;
        /* border: 1px solid #ffffff3e; */
        box-shadow: 0 1px 20px #ffffff13;
    }
    .add-task-box button {
        font-size: 2rem;
        margin: 0rem 0 0.5rem;
        padding: 0.25rem 1.2rem;
        border-radius: 50px;
        background: transparent;
        color: #d2d2d2;
        cursor: pointer;
        font-family: "Iceland", serif;
        transition: all 0.2s ease-in-out;
    }
    .add-task-box button:hover {
        background-color: #ffffff3e;
        color: #000;
    }
    .add-input {
        height: 3rem;
        width: 18rem;
        margin: 0.5rem 0;
        font-size: 1.1rem;
        font-weight: 600;
        outline: none;
        padding: 1rem;
        border-radius: 10px;
        border: none;
        font-family: "Nunito", serif;
        background-color: #ffffffc8;
    }

    .footer {
        text-align: center;
        background-color: inherit;
        position: absolute;
        bottom: 0;
        left: 47vw;
    }
    .copyright > a{
        text-decoration: none;
    }
}

@media screen and (max-width: 768px) {
    /* Mobile Responsivenss */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        background-color: #121212;
        color: #f01613;
    }
    
    header {
        height: 8rem;
        text-align: center;
        line-height: 8rem;
        font-size: 1.25rem;
        font-family: "Princess Sofia", serif;
    }
    
    main {
        max-height: 100%;
    }
    
    .container {
        height: 100%;
        display: flex;
        justify-content: center;
    }
    
    .main-box {
        border-radius: 20px;
        margin-top: 3rem;
        width: 20rem;
        height: 30rem;
        border: 1px solid #8b8b8b;
        padding: 1.5rem 1.5rem;
        overflow-x: hidden;
    }
    
    .all-items li{
        width: 100%;
        padding: 0.5rem 0;
        font-size: 1.8rem;
        word-spacing: 0.2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    num {
        color: #ff9378;
        font-size: 1.4rem;
        align-self: last baseline;
    }
    .item-text {
        display: flex;
        /* text-overflow: ellipsis; */
        width: 15rem;
        white-space: normal;
    }
    .item-text p {
        margin-left: 1rem;
        color: #fff;
        transition: transform 0.2s ease-in-out;
        font-family: "Original Surfer", serif;
        /* text-overflow: ellipsis; */
        overflow: visible;
        white-space: normal;
    }
    .item-text p:hover {
        text-decoration: underline;
        transform: scale(1.03);
    }
    #item-check {
        width: 2rem;
        height: 2rem;
        cursor: pointer;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .next-item {
        margin: 1rem 5rem;
        border: 1px solid white;
        border-radius: 40px;
        text-align: center;
        width: 7rem;
    }
    .next-item button {
        font-size: 1.6rem;
        padding: 0.5rem 1rem;
        text-align: center;
        background: none;
        width: 7rem;
        border: none;
        color: #f01613;
    }
    
    section[class*="search"] {
        position: absolute;
        top: 6.5rem;
        left: 2rem;
    }
    .search-input {
        height: 3rem;
        font-size: 1.1rem;
        outline: none;
        padding: 0 1rem;
        width: 18rem;
        border-radius: 10px;
        font-family: "Roboto", serif;
        background-color: #ffffff36;
        color: #d2d2d2;
    }
    
    section[class*="add"] {
        position: absolute;
        top: 40%;
        left: 5%;
        display: none;
    }
    .add-task-box {
        height: 11rem;
        width: 20rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        font-family: "Roboto", serif;
        background: #ffffff13;
        border-radius: 5px;
        /* border: 1px solid #ffffff3e; */
        box-shadow: 0 1px 20px #ffffff13;
    }
    .add-task-box button {
        font-size: 2rem;
        margin: 0rem 0 0.5rem;
        padding: 0.25rem 1.2rem;
        border-radius: 50px;
        background: transparent;
        color: #d2d2d2;
        cursor: pointer;
        font-family: "Iceland", serif;
        transition: all 0.2s ease-in-out;
    }
    .add-task-box button:hover {
        background-color: #ffffff3e;
        color: #000;
    }
    .add-input {
        height: 3rem;
        width: 18rem;
        margin: 0.5rem 0;
        font-size: 1.1rem;
        font-weight: 600;
        outline: none;
        padding: 1rem;
        border-radius: 10px;
        border: none;
        font-family: "Nunito", serif;
        background-color: #ffffffc8;
    }

    .footer {
        text-align: center;
        background-color: inherit;
        position: absolute;
        bottom: 0;
        left: 40vw;
    }
    .copyright > a{
        text-decoration: none;
    }
}
